@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-white antialiased transition-colors duration-300;
}
